.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(238, 238, 238);
    padding: 20px;
    border-radius: 10px;

    label{
    }
    input {
        border-radius: 8px;
        border: none;
        outline: none;
        height: 20px;
        padding: 10px;
    }
    .file{
        background-color: white;
        border-radius: 8px;
        width: 188px;
    }
    button {
        width: 100px;
        height: 40px;
        background-color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;

        &:hover{
            background-color: rgb(243, 225, 225);
        }
    }
}